# Ignore IDE project files
.vscode/
.idea/
.discussion/
# Ignore build artifacts
.pio/

# Ignore sensitive configuration files
actuator/include/config.h
sensor/include/config.h

# Ignore OS-specific files
.DS_Store
*.swp
