# Ignore IDE project files
.vscode/
.idea/
# .discussion/ # Commenting out or removing if discussion.md is preferred
discussion.md # Add this line to ignore the specific file
# Ignore build artifacts
.pio/

# Ignore sensitive configuration files
actuator/include/config.h
sensor/include/config.h

# Ignore OS-specific files
.DS_Store
*.swp
